.appt-time {
	background: red;
	min-height: calc(100vh - 174px);
}
.appt-time form {
	display: flex;
	flex-wrap: wrap;
}
form table input {
	cursor: pointer;
	width: 80px;
	height: 40px;
	border: 0px;
	border-radius: 5px;
}
td {
	padding-right: 5px;
	padding-bottom: 5px;
}